{% extends 'base.html' %}
{% block crystals %}active{% endblock crystals %}
{% block styles %}
<style>
  table, th, td, tbody, thead {
        border-collapse: collapse;
    }
    section {
        line-height: 1.2;
    }
</style>
{% endblock styles %}
{% block content %}
<div class='row justify-content-between mb-2'>
  <div class='col-5'>
    <h1 class='display-4'>Lista de lunas</h1>
  </div>
  <div class='col-2 align-self-end'>
    <a href='{% url 'medidas:crystal-add' %}' class='btn btn-primary border border-primary text-primary px-4'>Añadir Luna</a>
  </div>
</div>
<div class="row no-gutters">
    <div class="col-12">
      <table class="table table-hover table-responsive-md">
        <thead class='table-primary'>
            <tr class="">
          <th class="text-center align-middle" scope="col">N°</th>
          <th class="align-middle p-0" scope="col">Descripción</th>
          <th class="align-middle" scope="col">Material</th>
          <th class="align-middle" scope="col">Tratamientos</th>
          <th class="align-middle" scope="col">Precio</th>
          <th colspan="4" class="align-middle text-center" scope="col">Opciones</th>
        </tr>
        </thead>
        {% for crystal in crystals %}
        <tr class="">
          <th class="text-center align-middle p-auto" >{{forloop.counter}}</th>
          <td class="align-middle"><div style='word-wrap: break-word; max-width:20vw'>{{crystal.crystal_name|title}}</div></td>
          <td class="align-middle">{{crystal.material|default_if_none:"--"}}</td>
          <td class="align-middle">
            {{crystal.get_treatments|default_if_none:"--"}}
          </td>
          <td class='align-middle'>
          {% if crystal.default_price %}
            S/.{{crystal.default_price}}
          {% else %}
            --
          {% endif %}
          </td>
          <td class="align-middle text-center px-0"><a
              class="btn btn-primary text-primary border border-primary"
              href="{% url 'medidas:crystal-update' crystal.id %}"
              ><i class="far fa-edit"></i
            ></a></td>
          <td class="align-middle text-center px-0"><button
              data-toggle="modal"
              data-id="{{crystal.id}}"
              data-crystal-optic-id="{{forloop.counter}}"
              data-target="#crystal_delete"
              class="btn btn-primary border border-primary text-primary"
            >
              <i class="far fa-trash-alt"></i>
            </button></td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
        <div
          class="modal fade"
          id="crystal_delete"
          tabindex="-1"
          role="dialog"
          aria-labelledby="crystal_delete_title"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmar eliminación</h5>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
                <form
                  method="POST"
                  action="{% url 'medidas:crystal-delete' %}"
                >
                  {% csrf_token %}
                  <button
                    val=""
                    id="crystal_button_id"
                    type="submit"
                    name="crystal_id"
                    class="btn btn-danger text-light"
                  >
                    Eliminar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}
{% block script %}
<script>
  $("#crystal_delete").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var recipient = button.data("id"); // Extract info from data-* attributes
    var crystal_optic_id = button.data("crystal-optic-id")
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this);
    modal
      .find(".modal-body")
      .text("¿Seguro que desea eliminar la luna N°" + crystal_optic_id + "?");
    modal.find("#crystal_button_id").val(recipient);
  });
</script>
{% endblock script %}