{% extends 'base.html' %}
{% block treatments %}active{% endblock treatments %}
{% block styles %}
<style>
  table, th, td, tbody, thead {
        border-collapse: collapse;
    }
    section {
        line-height: 1.2;
    }
</style>
{% endblock styles %}
{% block content %}
<div class='row justify-content-between mb-2'>
  <div class='col-8'>
    <h1 class='display-4'>Lista de Tratamientos</h1>
  </div>
  <div class='col-4 align-self-end text-right pl-0'>
    <a href='{% url 'medidas:treatment-add' %}' class='btn btn-primary border border-primary text-primary'>Añadir Tratamiento</a>
  </div>
</div>
<div class="row no-gutters">
    <div class="col-12">
      <table class="table table-hover table-responsive-md">
        <thead class='table-primary'>
        <tr class="">
          <th class="text-center align-middle" scope="col">N°</th>
          <th class="align-middle p-0" scope="col">Tratamiento</th>
          <th class="align-middle" scope="col">Descripción</th>
          <th colspan="2" class="align-middle text-center" scope="col">Opciones</th>
        </tr>
        </thead>
        {% for treatment in crystals_treatments %}
        <tr class="">
          <th class="text-center align-middle p-auto" >{{forloop.counter}}</th>
          <td class="align-middle">{{treatment.treatment_name|title}}</td>
          <td class="align-middle"><div style='overflow:auto; max-height: 100px; word-wrap: break-word; max-width:55vw'>{{treatment.description}}</div></td>
          <td class="align-middle text-center px-0"><a data-toggle='tooltip' data-placement='top' title='Editar Tratamiento'
              class="btn btn-primary text-primary border border-primary"
              href="{% url 'medidas:treatment-update' treatment.id%}"
              ><i class="far fa-edit"></i
            ></a></td>
          <td class="align-middle text-center px-0"><button
              data-toggle="modal"
              data-id="{{treatment.id}}"
              data-treatment-optic-id="{{forloop.counter}}"
              data-target="#treatment_delete"
              class="btn btn-primary border border-primary text-primary"
            >
              <div data-toggle='tooltip' data-placement='top' title='Eliminar Tratamiento'>
                <i class="far fa-trash-alt"></i>
              </div>
            </button></td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
        <div
          class="modal fade"
          id="treatment_delete"
          tabindex="-1"
          role="dialog"
          aria-labelledby="treatment_delete_title"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmar eliminación</h5>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
                <form
                  method="POST"
                  action="{% url 'medidas:treatment-delete' %}"
                >
                  {% csrf_token %}
                  <button
                    val=""
                    id="treatment_button_id"
                    type="submit"
                    name="treatment_id"
                    class="btn btn-danger text-light"
                  >
                    Eliminar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}
{% block script %}
<script>
  $("#treatment_delete").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var recipient = button.data("id"); // Extract info from data-* attributes
    var treatment_optic_id = button.data("treatment-optic-id")
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this);
    modal
      .find(".modal-body")
      .text("¿Seguro que desea eliminar el tratamiento N°" + treatment_optic_id + "?");
    modal.find("#treatment_button_id").val(recipient);
  });
      $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock script %}