{% extends 'base.html' %}
{% load widget_tweaks %}
{% block crystals %}active{% endblock crystals %}
{% block content %}
{% if update %}
<h1 class='display-4'>Modificar Tratamiento</h1>
{% else %}
<h1 class='display-4'>Añadir Tratamiento</h1>
{% endif %}
<form action="" method='POST'>{% csrf_token %}
    {% for field in form %}
        {{field.label}}
        {{field|attr:"rows:2"}}
    {% endfor %}
    <br>
    <button class='btn btn-primary text-primary border border-primary' type='submit'>Guardar Tratamiento</button>
</form>
{% endblock content %}