{% load widget_tweaks %}
<table class='table table-bordered table-responsive m-0'>
                                        <tr class="">
                                            <th colspan='2' class='text-center bg-primary' style='width: 16%' scope='col'></th>
                                            <th class='text-center' style='width: 21%' scope='col'>&nbsp;&nbsp;&nbsp;&nbsp;Esfera&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th class='text-center' style='width: 21%' scope='col'>&nbsp;&nbsp;&nbsp;Cilindro&nbsp;&nbsp;&nbsp;</th>
                                            <th class='text-center' style='width: 21%' scope='col'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eje&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th class='text-center' style='width: 21%' scope='col'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Av.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        </tr>
                                        <tr class="">
                                            <th class='text-center px-0' rowspan='3' scope='row'><span class='my-5' style='writing-mode: vertical-rl; transform: rotate(180deg);'>Intermedio</span></th>
                                            <th class='text-center px-0' scope='row'>OD</th>
                                            <td>{{prescription_form.intermediate_spherical_right}}</td>
                                            <td>{{prescription_form.intermediate_cylinder_right}}</td>
                                            <td>{{prescription_form.intermediate_axis_right}}</td>
                                            <td>{{prescription_form.intermediate_av_right}}</td>
                                        </tr>
                                        <tr class="">
                                            <th class='text-center px-0' scope='row'>OI</th>
                                            <td>{{prescription_form.intermediate_spherical_left}}</td>
                                            <td>{{prescription_form.intermediate_cylinder_left}}</td>
                                            <td>{{prescription_form.intermediate_axis_left}}</td>
                                            <td>{{prescription_form.intermediate_av_left}}</td>
                                        </tr>
                                        <tr>
                                            <th class='text-center px-0' scope='row'>DIP</th>
                                            <td colspan='1'>{{prescription_form.intermediate_dip}}</td>
                                        </tr>
</table>