{% load widget_tweaks %}
<table class='table table-bordered table-responsive m-0'>
                                        <tr class="">
                                            <th colspan='2' class='text-center bg-primary' style='width: 16%' scope='col'></th>
                                            <th class='text-center' style='width: 21%' scope='col'>&nbsp;&nbsp;&nbsp;&nbsp;Esfera&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th class='text-center' style='width: 21%' scope='col'>&nbsp;&nbsp;&nbsp;Cilindro&nbsp;&nbsp;&nbsp;</th>
                                            <th class='text-center' style='width: 21%' scope='col'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eje&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th class='text-center' style='width: 21%' scope='col'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Av.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th class='text-center' style='width: 21%' scope='col'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if is_dip %}Dip.{% else %}Dnp.{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        </tr>
                                        <tr class="">
                                            <th style="vertical-align : middle;text-align:center;" class='text-center px-0 py-0' rowspan='2' scope='row'><span class='my-0' style='writing-mode: vertical-rl; transform: rotate(180deg);'>Intermedio</span></th>
                                            <th style="vertical-align : middle;text-align:center;" class='text-center px-0' scope='row'>OD</th>
                                            <td>{{prescription_form.intermediate_spherical_right}}</td>
                                            <td>{{prescription_form.intermediate_cylinder_right}}</td>
                                            <td>{{prescription_form.intermediate_axis_right}}</td>
                                            <td>{{prescription_form.intermediate_av_right}}</td>
                                            {% if is_dip %}
                                            <td class="align-middle" rowspan='2'>{{prescription_form.intermediate_dip}}</td>
                                            {% else %}
                                            <td>{{prescription_form.intermediate_dnp_right}}</td>
                                            {% endif %}
                                        </tr>
                                        <tr class="">
                                            <th style="vertical-align : middle;text-align:center;" class='text-center px-0' scope='row'>OI</th>
                                            <td>{{prescription_form.intermediate_spherical_left}}</td>
                                            <td>{{prescription_form.intermediate_cylinder_left}}</td>
                                            <td>{{prescription_form.intermediate_axis_left}}</td>
                                            <td>{{prescription_form.intermediate_av_left}}</td>
                                            {% if is_dip %}
                                            {% else %}
                                            <td>{{prescription_form.intermediate_dnp_left}}</td>
                                            {% endif %}
                                        </tr>
</table>