{% extends 'base.html' %} {% block styles %}
<style>
  .hiddenRow {
    padding: 0 !important;
  }
  table, th, td, tbody, thead {
        border-collapse: collapse;
    }
    section {
        line-height: 1.2;
    }
</style>
{% endblock styles %}
{% block patients %}active{% endblock patients %}
 {% block content %}
 <h1 class='display-4'>Lista de pacientes</h1>
  <div class="col-md-12 p-0">
<form class="" action="">
  <div class="input-group mb-3">
    <input
      class="form-control"
      placeholder="Apellidos, nombres o dni"
      type="search"
      name="q"
      id="search"
    />
    <div class="input-group-append">
      <button class="btn btn-primary text-primary" type="submit" value="Buscar">
        <i class="fas fa-search"></i> Buscar
      </button>
    </div>
  </div>
  </form>
      <table class="table table-hover table-responsive-md">
          <thead class='table-primary'>
            <tr>
            <th class="text-center" scope="col">N°</th>
            <th class="text-center" scope="col">Paciente</th>
            <th class="text-center" scope="col">Dni</th>
            <th class="text-center" scope="col">Celular</th>
            <th class="text-center" scope="col">Ocupacion</th>
            <th class="text-center" scope="col">Prescripciones</th>
            <th class="text-center" scope="col" colspan='3'>Opciones</th>
          </tr>
          </thead>

          {% for patient in patients %}
            <tr class='table-light'

          >
            <th class='text-center px-0'>{{patient.patient_optic_id}}</th>
            <td class="text-center px-0">{{patient|truncatechars:25}}</td>
            <td class="text-center px-0">{{patient.dni|default_if_none:'--'|truncatechars:12}}</td>
            <td class="text-center px-0">{{patient.phone|truncatechars:12}}</td>
            <td class="text-center px-0">{{patient.job|truncatechars:15}}</td>
            <td class="text-center px-0">{{patient.prescription_set.count}}</td>
            <td class="text-center px-0" >
            <button
              data-toggle="modal"
              data-id="{{patient.id}}"
              data-target="#patient_view"
              class="btn btn-primary border border-primary text-primary"
              onclick="get_patient('{% url 'medidas:rest-patient-detail' patient.id %}')"
            >
              <div data-toggle='tooltip' data-placement='top' title='Visualizar paciente'>
                <i class="far fa-eye"></i>
              </div>
            </button>
          </td>
            <td class='text-center px-0'>
              <a data-toggle='tooltip' data-placement='top' title='Añadir nueva prescripcion' href='{% url 'medidas:patient-add' patient.id %}' class="{% if perms.medidas.add_prescription %}btn btn-primary border border-primary text-primary{% else %}btn bg-transparent disabled border text-muted{% endif %}">
                <i class="fas fa-file-medical"></i>
              </a>
            </td>
            <td class="text-center pl-0">
              <button data-toggle="collapse"
            data-target="#patient{{forloop.counter}}"
            class="btn btn-primary border border-primary text-primary accordion-toggle">
                <div data-toggle='tooltip' data-placement='top' title='Visualizar prescripciones'>
                  <i style='transform: rotate(180deg);' class="fas fa-chevron-up"></i>
                </div>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="12" class="hiddenRow">
              <div class="accordian-body collapse" id="patient{{forloop.counter}}">
                <table class="table table-striped">
                  <thead>
                    <tr class="table table-primary border">
                      <th class='text-center px-0'>N°</th>
                      <th class='text-center px-0'>Fecha</th>
                      <th class='text-center px-0'>Tipo</th>
                      <th class='text-center px-0'>Total</th>
                      <th class='text-center px-0' colspan='4'>Opciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for prescription in patient.prescription_set.all %}
                        <tr class=''
                    >
                      <td class='text-center px-0'>{{prescription.prescription_optic_id}}</td>
                      <td class='text-center px-0'>{{prescription.date|date:'d/m/Y'}}</td>
                      <td class='text-center px-0'>{{prescription.get_prescription_type_display|default_if_none:"--"|truncatechars:12}}</td>
                      <td class='text-center px-0'>S/.{{prescription.get_total}}</td>
                      <td class='text-center px-0'>
                        <a
                        data-toggle='tooltip'
                        data-placement='top'
                        title = 'Visualizar en PDF' 
                        class='btn btn-primary border border-primary text-primary' href="{% url 'medidas:prescription-pdf' prescription.id %}" class="btn btn-default btn-sm">
                          <i class="far fa-file-pdf px-1"></i>
                        </a>
                        <a 
                          data-toggle='tooltip'
                          data-placement='top'
                          title='Visualizar Prescripcion' 
                          class='btn btn-primary border border-primary text-primary' href="{% url 'medidas:prescription-detail' prescription.id %}" class="btn btn-default btn-sm">
                          <i class="far fa-eye"></i>
                        </a>
                        <a
                          data-toggle='tooltip'
                          data-placement='top'
                          title='Editar Prescripcion'                        
              class="{% if perms.medidas.change_prescription %}btn btn-primary border border-primary text-primary{% else %}btn btn-transparent border text-muted disabled{% endif %}"
              href="{% url 'medidas:prescription-update' prescription.id %}"
              ><i class="far fa-edit"></i
            ></a>
            <button
              {% if perms.medidas.change_prescription %}{% else %}disabled{% endif %}
              data-toggle="modal"
              data-id="{{prescription.id}}"
              data-prescription-optic-id="{{prescription.prescription_optic_id}}"
              data-target="#prescription_delete"
              class="{% if perms.medidas.delete_prescription %}btn btn-primary border border-primary text-primary{% else %}btn btn-transparent border text-muted{% endif %}"
            >
              <div        data-toggle="tooltip"
                          data-placement='top'
                          title="{% if perms.medidas.delete_prescription %}Eliminar Prescripcion{% else %}{% endif %}">
                <i class="far fa-trash-alt"></i>
              </div>
            </button>
                    </tr>
                    {% endfor %}
                </table>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
<div
          class="modal fade"
          id="patient_view"
          tabindex="-1"
          role="dialog"
          aria-labelledby="patient_view_title"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Datos del paciente</h5>
              </div>
              <div class="modal-body">
              <form action="" id="prescription_form">
                  <input type="hidden" id="id_patient" name="id" data-url-update="{% url 'medidas:rest-patient-update' 0 %}" data-url-delete="{% url 'medidas:rest-patient-delete' 0 %}">
                {{patient_form}}
              </form>
              </div>
              <div class="modal-footer">

                  <button {% if perms.medidas.change_patient %}{% else %}disabled{% endif %} type="submit" name="" class="{% if perms.medidas.change_patient %}btn btn-success text-light{% else %}btn border bg-transparent text-muted{% endif %}" onclick="update_patient()" >Actualizar</button>
                  <button {% if perms.medidas.delete_patient %}{% else %}disabled{% endif %} type="submit" name="prescription_id" class="{% if perms.medidas.delete_patient %}btn btn-danger text-light{% else %}btn border bg-transparent text-muted{% endif %}" onclick="delete_patient()">Eliminar</button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
<div
          class="modal fade"
          id="prescription_delete"
          tabindex="-1"
          role="dialog"
          aria-labelledby="prescription_delete_title"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirmar eliminación</h5>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
                <form
                  method="POST"
                  action="{% url 'medidas:prescription-delete' %}"
                >
                  {% csrf_token %}
                  <button
                    val=""
                    id="prescription_button_id"
                    type="submit"
                    name="prescription_id"
                    class="btn btn-danger text-light"
                  >
                    Eliminar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
{% if is_paginated %}
<div class='row'>
  <div class='col d-flex justify-content-center'>
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-primary mb-4" href="?page=1">Primero</a>
    <a class="btn btn-outline-primary mb-4" href="?page={{page_obj.previous_page_number}}">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Anterior</span>
    </a>
  {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{num}}">{{num}} de {{page_obj.paginator.num_pages}}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-primary mb-4" href="?page={{num}}">{{num}}</a>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a class="btn btn-outline-primary mb-4" href="?page={{page_obj.next_page_number}}">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Siguiente</span>
    </a>
    <a class="btn btn-outline-primary mb-4" href="?page={{page_obj.paginator.num_pages}}">Ultimo</a>
  {% endif %}
  </ul>
</nav>
  </div>          
</div>
{% endif %}
  <!-- Modal -->
  <div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        {% comment %} <div class="modal-header">
          <h4 class="modal-title">Modal Header</h4>
        </div> {% endcomment %}
        <div class="modal-body p-0">
        <div class="alert alert-info mb-0" role="alert">
          <h4 class="alert-heading"><span class='fas fa-info-circle'>&nbsp;</span><span id="error-header"></span><button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button></h4>
          <p id="error-content"></p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block script %}

<script>
  $("#prescription_delete").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var recipient = button.data("id"); // Extract info from data-* attributes
    var prescription_optic_id = button.data("prescription-optic-id")
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this);
    modal
      .find(".modal-body")
      .text("¿Seguro que desea eliminar la Prescripcion N°" + prescription_optic_id + "?");
    modal.find("#prescription_button_id").val(recipient);
  });
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% load static%}
<script src="{% static 'js/app-patients.js' %}"></script>

{% endblock script %}
