{% extends 'base.html' %}
{% block title %}Optica - Prescripciones{% endblock title %}
{% block styles %}

{% endblock styles %}
{% block content %}
<section class='py-0 mb-5'>
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
      <form action="">
      <label for="search">Buscar</label>
      <input class='form form-control' placeholder='Apellidos, nombres o dni' type="search" name="q" id='search'>
    </form>
    <div class="row no-gutters">
        <div class='col'>
            <table class='table table-responsive m-0'>
                <tr class="">
                    <th class='text-center' scope='col'>Fecha</th>
                    <th class='text-center' scope='col'>Nombres y apellidos</th>
                    <th class='text-center' scope='col'>Dni</th>
                    <th class='text-center' scope='col'>Celular</th>
                    <th class='text-center' scope='col'>Precio</th>
                    <th class='text-center' scope='col'>Opciones</th>
                </tr>
                {% for prescription in prescriptions %}
                <tr class="">
                    <td class='text-center' scope='col'>{{prescription.date|date:'d/m/Y'}}</td>
                    <td class='text-center' scope='col'>{{prescription.patient}}</td>
                    <td class='text-center' scope='col'>{{prescription.patient.dni|default_if_none:"-----"}}</td>
                    <td class='text-center' scope='col'>{{prescription.patient.phone|default_if_none:"-----"}}</td>
                    <td class='text-center' scope='col'>S/.{{prescription.price|default_if_none:"-----"}}</td>
                    <td class='text-center' scope='col'><a class='btn btn-primary text-primary' href="{% url 'medidas:prescription-detail' prescription.id %}">Ver</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock content %}
{% block script %}
<script>
function fillTable(button){
    {% comment %} document.getElementById('prescription-table').innerHTML=button.value; {% endcomment %}
}
</script>
{% endblock script %}