<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample" />
    <meta name="author" content="Kozea" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/prescription.css' %}">
  </head>
  <body>

    <h1>{{prescription.optic|title}}</h1>
    <aside>
      <address id="from">
    <b id='subsidiary_name'>{{prescription.subsidiary.subsidiary_name}}</b>
        {{prescription.subsidiary.direction}}
        {{prescription.subsidiary.phone}}
      </address>

      <address id="to">
        {{prescription.doctor.get_optictype.prescription_name}}
      </address>
    </aside>

    <dl id="informations">
      <dt>Número</dt>
      <dd>{{prescription.prescription_optic_id}}</dd>
      <dt>Fecha</dt>
      <dd>{{prescription.date}}</dd>
      <dt>Paciente</dt>
      <dd>{{prescription.patient.full_name}}</dd>
    </dl>

    <table>
      <thead>
        <th>Lejos</th>
        <th>Esfera</th>
        <th>Cilindro</th>
        <th>Eje</th>
        <th>Av.</th>
        <th>Dnp.</th>
      </thead>
      <tbody>
        <tr>
          <td>OD</td>
          <td>{{prescription.get_far_spherical_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_cylinder_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_axis_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.far_av_right|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_dnp_right_display|default_if_none:"--"}}</td>
        </tr>
        <tr>
          <td>OI</td>
          <td>{{prescription.get_far_spherical_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_cylinder_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_axis_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.far_av_left|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_dnp_left_display|default_if_none:"--"}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <table>
      <thead>
        <th>Intermedio</th>
        <th>Esfera</th>
        <th>Cilindro</th>
        <th>Eje</th>
        <th>Av.</th>
        <th>Dnp.</th>
      </thead>
      <tbody>
        <tr>
          <td>OD</td>
          <td>{{prescription.get_intermediate_spherical_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_cylinder_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_axis_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.intermediate_av_right|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_dnp_right_display|default_if_none:"--"}}</td>
        </tr>
        <tr>
          <td>OI</td>
          <td>{{prescription.get_intermediate_spherical_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_cylinder_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_axis_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.intermediate_av_left|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_dnp_left_display|default_if_none:"--"}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <table>
      <thead>
        <th>Cerca</th>
        <th>Esfera</th>
        <th>Cilindro</th>
        <th>Eje</th>
        <th>Av.</th>
        <th>Dnp.</th>
      </thead>
      <tbody>
        <tr>
          <td>OD</td>
          <td>{{prescription.get_near_spherical_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_cylinder_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_axis_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.near_av_right|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_dnp_right_display|default_if_none:"--"}}</td>
        </tr>
        <tr>
          <td>OI</td>
          <td>{{prescription.get_near_spherical_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_cylinder_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_axis_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.near_av_left|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_dnp_left_display|default_if_none:"--"}}</td>
        </tr>
      </tbody>
    </table>

    <table id="total">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td class='add'>Add. cerca: <b>{{prescription.get_near_add_display|default_if_none:"--"}}</b> Add. intermedio: <b>{{prescription.get_intermediate_add_display|default_if_none:"--"}}</b></td>
        </tr>
        <tr>
          <td>Diagnostico: <b>{{prescription.diagnosis}}</b></td>
        </tr>
        <tr>
          <td>Observaciones: <b>{{prescription.patient_notes}}</b></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
