{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% block title %} Optica - Receta
medica {% endblock title %} 
{% block styles %}
<link href="{% static 'css/prescription.css' %}" rel="stylesheet" />
<style>
     table, th, td, tbody, thead {
        border-collapse: collapse;
    }
    body {
        line-height: 1.2;
    }
</style>
{% endblock styles %}
 {% block content %}
<section class="py-0 mb-5">
{% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            {{message}}
          </div>
        {% endfor %}
{% endif %}
  <div class="row no-gutters">
    <div class="col-lg-3 px-0 pr-lg-2">
        <div class="card m-0">
            <div class="card-header">
                <h6 class="mb-0"><i class="fas fa-blind"></i> Paciente</h6>
            </div>
            <div class="card-body">
                <form action="" name='patient_form'>
                    {% for field in patient_form %}
                    {{field.label_tag}}
                        {% if field.errors %}
                            {{field|attr:"class:form-control form-control-sm is-invalid"}}
                            <div id="{{ field.id_for_label }}" class="invalid-feedback">
                            {{field.errors}}
                            </div>
                        {% else %}
                            {{field}}
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-9 px-0 pl-lg-2">
        <div class="card">
            <div class="card-header pt-2">
                {% comment %} <ul class="nav nav-tabs card-header-tabs">
                    <h6 class='my-2 ml-2 mr-3'><i class="fas fa-file-medical"></i> Medidas</h6>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#lejos">Lejos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#cerca">Cerca</a>
                    </li>
                </ul> {% endcomment %}
                <h6 class='my-2 ml-2 mr-3'><i class="fas fa-file-medical"></i> Medidas</h6>
            </div>
            <div class='py-4 px-3'>
                <div class="card-body table-responsive-md p-0 mb-4">
                    {% comment %} <div class='tab-content'>
                        <div class="tab-pane container active px-0" id="lejos">
                            {% include 'medidas/far_table.html' %}
                        </div>
                        <div class="tab-pane container fade px-0" id="cerca">
                            {% include 'medidas/near_table.html' %}
                        </div>
                    </div> {% endcomment %}
                    <div class='accordion'>
                        <ul class="list-group list-group-flush">
                            <button class="list-group-item btn btn-primary text-primary text-left" data-toggle='collapse' data-target='#lejos' aria-expanded='true' aria-controls='lejos'>Mostrar / esconder Lejos</button>
                            <div id='lejos' class='collapse show'>
                            {% include 'medidas/far_table.html' %}
                            </div>
                            <button class="list-group-item btn btn-primary text-primary text-left" data-toggle='collapse' data-target='#intermedio' aria-expanded='true' aria-controls='intermedio'>Mostrar / esconder Intermedio</button>
                            <div id='intermedio' class='collapse'>
                            {% include 'medidas/intermediate_table.html' %}
                            </div>
                            <button class="list-group-item btn btn-primary text-primary text-left" data-toggle='collapse' data-target='#cerca' aria-expanded='true' aria-controls='cerca'>Mostrar / esconder Cerca</button>
                            <div id='cerca' class='collapse'>
                            {% include 'medidas/near_table.html' %}
                            </div>
                        </ul>
                    </div>
                </div>
                <div class='form-row justify-content-around my-3 mx-0'>
                    <div class='col-3'>
                        {{prescription_form.intermediate_add.errors}}
                        {{prescription_form.intermediate_add.label_tag}}
                        {{prescription_form.intermediate_add}}
                    </div>
                    <div class='col-3'>
                        {{prescription_form.near_add.errors}}
                        {{prescription_form.near_add.label_tag}}
                        {{prescription_form.near_add}}
                    </div>
                </div>
                <div class=''>
                    <div class="form-group">
                        {{prescription_form.observation.errors}}
                        {{prescription_form.observation.label_tag}}
                        {{prescription_form.observation|attr:"rows:3"}}
                    </div>
                    <div class="form-row">
                        <div class='col-2'>
                            {{prescription_form.price.errors}}
                            {{prescription_form.price.label_tag}}
                            {{prescription_form.price}}
                        </div>
                        <div class='col-2'>
                            {{prescription_form.date.errors}} 
                            {{prescription_form.date.label_tag}}                        
                            {{prescription_form.date}}                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
    <div class='row no-gutters justify-content-end'>
        {% if detail %}
        <a class='btn btn-success text-light' href="{% url 'medidas:prescription-update' prescription_form.instance.id %}">Editar Prescripcion</a>
        {% else %}
        <input class="btn btn-primary text-primary" form='prescription_form' type="submit" value="Guardar Prescripcion">
        {% endif %}
    </div>
    <form action="" method='POST' id='prescription_form'>{% csrf_token %}
    </form>
</section>
{% endblock content %}
{% block script %}
    <script>
    {% if detail %}
            var inputs = document.querySelectorAll("[form='prescription_form']");
            inputs.forEach((input) => {
                input.disabled = true;
            })
    {% endif %}
    {% if update %}
            var inputs = document.forms["patient_form"].getElementsByTagName("input");
            var selects = document.forms["patient_form"].getElementsByTagName("select");
            for (i=0;i<inputs.length;i++){
            inputs[i].disabled = true;
            }       
            for (i=0;i<selects.length;i++){
            selects[i].disabled = true;
            }  
    {% endif %}
    </script>
{% endblock script %}
