<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample" />
    <meta name="author" content="Kozea" />
    <style>
    @page {
  margin: 1.5cm;
  @bottom-right {
    color: #a9a;
    content: '{{prescription.subsidiary.subsidiary_name}} | {{prescription.subsidiary.phone}} | {{prescription.subsidiary.direction}}';
    font-family: Arial;
    font-size: 10pt; } }
    </style>
  </head>
  <body>
    {{random}}
    <h1>{{prescription.optic|title}}</h1>
    <aside>
      <address id="from">
        Fecha: <span style='color: #000'>{{prescription.date}} </span>
        Paciente: <span style='color: #000'>{{prescription.patient.full_name}}</span>
      </address>

      <address id="to">
        {{prescription.doctor.get_optictype.prescription_name}}

      </address>
    </aside>

    <dl id="informations">

    </dl>

    <table>
      <thead>
        <th>Lejos</th>
        <th>Esfera</th>
        <th>Cilindro</th>
        <th>Eje</th>
        <th>Av.</th>
        <th>{% if is_dip %}Dip.{% else %}Dnp.{% endif %}</th>
      </thead>
      <tbody>
        <tr>
          <td>OD</td>
          <td>{{prescription.get_far_spherical_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_cylinder_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_axis_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.far_av_right|default_if_none:"--"}}</td>
          {% if is_dip %}
          <td class="align-middle" rowspan='2'>{{far_dip|default_if_none:"--"}}</td>
          {% else %}
          <td>{{prescription.get_far_dnp_right_display|default_if_none:"--"}}</td>
          {% endif %}
        </tr>
        <tr>
          <td>OI</td>
          <td>{{prescription.get_far_spherical_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_cylinder_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_far_axis_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.far_av_left|default_if_none:"--"}}</td>
          {% if is_dip %}
          {% else %}
          <td>{{prescription.get_far_dnp_left_display|default_if_none:"--"}}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <table>
      <thead>
        <th>Intermedio</th>
        <th>Esfera</th>
        <th>Cilindro</th>
        <th>Eje</th>
        <th>Av.</th>
        <th>{% if is_dip %}Dip.{% else %}Dnp.{% endif %}</th>
      </thead>
      <tbody>
        <tr>
          <td>OD</td>
          <td>{{prescription.get_intermediate_spherical_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_cylinder_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_axis_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.intermediate_av_right|default_if_none:"--"}}</td>
          {% if is_dip %}
          <td class="align-middle" rowspan='2'>{{intermediate_dip|default_if_none:"--"}}</td>
          {% else %}
          <td>{{prescription.get_intermediate_dnp_right_display|default_if_none:"--"}}</td>
          {% endif %}
        </tr>
        <tr>
          <td>OI</td>
          <td>{{prescription.get_intermediate_spherical_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_cylinder_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_intermediate_axis_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.intermediate_av_left|default_if_none:"--"}}</td>
          {% if is_dip %}
          {% else %}
          <td>{{prescription.get_intermediate_dnp_left_display|default_if_none:"--"}}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <table>
      <thead>
        <th>Cerca</th>
        <th>Esfera</th>
        <th>Cilindro</th>
        <th>Eje</th>
        <th>Av.</th>
        <th>{% if is_dip %}Dip.{% else %}Dnp.{% endif %}</th>
      </thead>
      <tbody>
        <tr>
          <td>OD</td>
          <td>{{prescription.get_near_spherical_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_cylinder_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_axis_right_display|default_if_none:"--"}}</td>
          <td>{{prescription.near_av_right|default_if_none:"--"}}</td>
          {% if is_dip %}
          <td class="align-middle" rowspan='2'>{{near_dip|default_if_none:"--"}}</td>
          {% else %}
          <td>{{prescription.get_near_dnp_right_display|default_if_none:"--"}}</td>
          {% endif %}
        </tr>
        <tr>
          <td>OI</td>
          <td>{{prescription.get_near_spherical_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_cylinder_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.get_near_axis_left_display|default_if_none:"--"}}</td>
          <td>{{prescription.near_av_left|default_if_none:"--"}}</td>
          {% if is_dip %}
          {% else %}
          <td>{{prescription.get_near_dnp_left_display|default_if_none:"--"}}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>

    <table id="total">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td class='add'>Add. cerca: <b>{{prescription.get_near_add_display|default_if_none:"--"}}</b> Add. intermedio: <b>{{prescription.get_intermediate_add_display|default_if_none:"--"}}</b></td>
        </tr>
        <tr>
          <td>Diagnostico: <b>{{prescription.diagnosis}}</b></td>
        </tr>
        <tr>
          <td>Observaciones: <b>{{prescription.patient_notes}}</b></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>