<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .container {
            margin-top: 50px;
        }

        .btn {
            padding: .9rem 9rem;
            font-size: 1.25rem;
            line-height: 1.5;
            line-height: 1.5;
            border-radius: .3rem;
            background-color: #007bff;
            border-color: #007bff;
            border: 1px solid transparent;
            text-decoration: none;
        }

        .btn:hover {
            background-color: #0c77cede;
        }
    </style>
</head>

<body>
    <div class="container">
        
        <div style="color: #004085;background-color: #cce5ff;border-color: #b8daff;text-align: center;padding: 10px;">
            <h1>kiwiOptics</h1>
            <p class="">Administra las prescripciones de los pacientes de tu Optica desde cualquier lugar del mundo y
                más</p>
        </div>

        <div style="text-align:center;">
            <h2>Hola {{username}}. Preciona confirmar email para validar su identidad en nuestro sistema</h2>
            <a href="{{ruta}}" class="btn" style=" color: #fff;"> Confimar Email</a>
        </div>
    </div>


</body>

</html>