<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <style>
     #content {
     display: flex;
     align-items: center;
     }
     </style>
</head>
<body>
     <div class="row mb-5">
          <div class="col-md-2 text-center">
               <p><i class="fa fa-exclamation-triangle fa-5x text-danger"></i></p>
          </div>
          <div class="col-md-10">
               <h3>Error 403: Prohibido</h3>
               <p>Lo siento, tu acceso ha sido denegado debido ha razones de seguridad y información sensible.
               <br/>Por favor vuelve a la anterior pagina.</p>
          </div>
     </div>
</body>
</html>