{% extends 'base.html' %}
{% load widget_tweaks %}

{% block styles %}
<style>
    li {
        list-style: none;
    }
  

    #id_user_permissions li {
        display: flex;
    }



    #profile_picture a,
    #picture-clear_id {
        position: absolute;
        top: 40px;
    }

    #picture-clear_id {
        top: 45px;
    }

    #profile_picture a::before {
        content: 'actual : ';
    }

    #profile_picture #picture-clear_id {
        right: 0;
    }

    #profile_picture label[for="picture-clear_id"] {
        position: absolute;
        top: 40px;
        right: 20px;
    }

    .custom-file-input {
        height: 1px !important;
    }

    /* check */
    #id_permissions,
    #id_user_permissions,
    #id_groups{
        overflow: auto;
        height: 200px;
    }

    #id_permissions li label,
    #id_user_permissions li label, 
    #id_groups li label{
        display: flex;
        align-items: center;
    }

    #id_permissions li label input,
    #id_user_permissions li label input,
    #id_groups li label input{
        width: auto;
        margin-right: 5px;
    }


  

</style>

{% endblock styles %}


{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>

{{context}}
{% endfor %}
{% endif %}

<div class="row" >


    <!--  **************FORMULARIO PARA AÑADIR NUEVO EMPLEADO*************** -->

    <div class="ol-xl-5 col-lg-12 bg-white">

        <!-- formulario para la tabla account -->


        {% if perms.users.change_employeeuser and id or perms.users.add_employeeuser and not id %}

        <form class="p-5" method="post" enctype="multipart/form-data" id="account_form">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{id}}" id="id">

            <h1>Datos de la cuenta</h1>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre de usuario</label>
                    {{form.username}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form.username.errors %} {{error}} {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    {{form.password}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form.password.errors %} {{error}} {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombres Y Apellidos</label>
                    {{form.full_name}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form.full_name.errors %} {{error}} {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>selecciona la foto de perfil</label>
                    <div class="custom-file" id="profile_picture">
                        {{form.picture|attr:"class:custom-file-input"}}
                        <label class="custom-file-label" for="id_picture">seleccione una foto</label>
                    </div>

                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form.picture.errors %} {{error}} {% endfor %}
                    </div>
                </div>
            </div>

            
            {% if id %}
                
           
                
            <div class="form-row form-control">

                <div class="form-group col-md-12">
                    <label for="">Activo</label>
                    {{form.is_active|attr:"class:"}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form.is_active.errors %} {{error}} {% endfor %}
                    </div>
                </div>

            </div>

            {% endif %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">Permisos del empleado</label>
                    {{form.user_permissions}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form.user_permissions.errors %} {{error}} {% endfor %}
                    </div>

                </div>
                <div class="form-group col-md-6">

                    <label for="">Grupos de Permisos</label>
                    {{form.groups}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form.groups.errors %} {{error}} {% endfor %}
                    </div>

                </div>
            </div>

            <h1>Datos del empleado</h1>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    {{form_employee.email}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form_employee.email.errors %} {{error}} {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Nombre en la prescripcion</label>
                    {{form_employee.prescription_name}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form_employee.prescription_name.errors %} {{error}} {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Celular</label>
                    {{form_employee.phone}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form_employee.phone.errors %} {{error}} {% endfor %}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Celular 2</label>
                    {{form_employee.other_phone}}
                    <div class='col-12 invalid-feedback d-block'>
                        {% for error in form_employee.other_phone.errors %} {{error}} {% endfor %}
                    </div>
                </div>
            </div>

            {% if perms.users.add_account and perms.users.add_employeeuser %}
            <button type="submit" class="btn btn-primary text-primary"
                onclick="$('#id').remove();$('#submit_form_employee').click();">Guardar nuevo empleado</button>

            {% endif %}



            {% if id and perms.users.change_account and perms.users.change_employeeuser %}
            <button type="submit" class="btn btn-success" id="submit_form_employee">Actualizar empleado</button>
            {% endif %}


            <!-- ***modal eliminar empleado** -->

            {% if id and perms.users.delete_account and perms.users.delete_employeeuser %}

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                onclick="$('#modal_body_delete_empleado').html('¿Deseas eliminar el empleado : <strong>'+$('#id_username').val()+'</strong> ?')">
                eliminar empleado
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Empleado</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modal_body_delete_empleado">
                            ¿confirmar eliminación?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                            <a href="{% url 'users:userOfOpticDelete' id %}" class="btn btn-danger">eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- **fin modal eliminar  empleado ***-->
            {% endif %}
        </form>
        {% else %}

        <div class="container m-5 text-center">
            <div class="alert alert-primary" role="alert">
                <h2 class="text-center">no tienes permiso para
                    {% if id %}
                    modificar
                    {% else %}
                    Añadir

                    {% endif %}
                    empleados</h2>

            </div>
        </div>


        {% endif %}






    </div>
    <!--  **************FIN FORMULARIO AÑADIR NUEVO EMPLEADO -->
</div>




{% endblock content %}


{% block script %}

<script>


    $(document).ready(function () {
        document.getElementById('id_picture').addEventListener('change', function (e) {
            if (e.target.files.length > 0) {
                ruta = e.target.files[0].name
                $(e.target).next().html(ruta);
            }

        });

        {% if form.errors or form_employee.errors or id %}

        // borramos el texto dentro del input type file
        $('#profile_picture').contents().filter(function () {
            return this.nodeType === 3;
        }).remove();

        {% endif %}

    });



</script>
{% endblock script %}